.logo{
    width: 10%;
    height: auto;
    background-color: white;
}

/* header */
header nav{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap:20px;
}
.ongletDeNavigation{
    width: auto;
}


.ongletDeNavigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.ongletDeNavigation li{
    width:auto;
    background-color: #ffffff;
    position: relative; /* Nécessaire pour que .menuDeroulant se positionne par rapport à chaque <li> */
    padding: 0px 30px;
}
.ongletDeNavigation a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
.ongletDeNavigation a:hover{
    color: blueviolet;
    transition: 0.2s;
    box-shadow: -5px 5px 3px #333;
    border-radius:  0px 0px 5px 5px;
}
.menuDeroulant {
    font-size: 1rem;
    display: none; /* Menu caché par défaut */
    position: absolute; /* Permet de positionner le menu hors du flux normal */
    top: 100%; /* Place le menu juste en dessous de son parent */
    left: 0; /* Aligné à gauche */
    background-color: white; /*Fond visible pour le menu */
    z-index: 1000; /* Priorité sur les autres éléments */
    width: auto;
    white-space: nowrap; /* Empêche le contenu de passer à la ligne */
    padding: 5px 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -5px 5px 3px rgb(0, 0, 0);
}


.ongletDeNavigation li:hover .menuDeroulant{
    display: block;
}

/* Body a-propos */
.texteAPropos h1{
    font-size: 3rem ;
    margin-bottom: 6%;
}
.texteAPropos article{
    margin-bottom: 6%;
}
.article1{
    position: relative;
}
.texteArticle{
    background: linear-gradient(to bottom, black 50%, rgba(0,0,0,0.5), transparent);
    text-align: justify;
    font-size: 1.5rem;
    padding:5%;
    color: #ffffff;
    position: absolute;
    opacity: 0;
}
.article2{
    position: relative;
}
.texteArticle2{
    background: linear-gradient(to bottom, black 50%, rgba(0,0,0,0.5), transparent);
    font-size: 1.5rem;
    padding:5%;
    color: #ffffff;
    position: absolute;
}
.article3{
    padding-bottom: 40px;
    padding-top: 40px;
    border-top: 3px blueviolet  solid;
    border-bottom: 3px blueviolet  solid;
}
.article3 ul{
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
    gap: 3%;
}
.article3 li{
    text-align: justify;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.article3 ul p{
    opacity: 0.5;
}
.article3 li:hover{
    box-shadow: -5px 6px 3px blueviolet;
    transform: scale(1.1);
    border-radius: 40px;
    transition: 0.2s;
}
.article3 li p:hover{
    opacity: 1;
    transition: 0.2s;
}
.article3 h3{
    text-align: center;
    font-size: 1.7rem;
}
.article3 p{
    font-size: 1.2rem;
    padding-bottom: 50px;
}
.article4{
    position: relative;
}
.texteArticle4{
    background: linear-gradient(to bottom, black 50%, rgba(0,0,0,0.5), transparent);
    font-size: 1.5rem;
    padding:5%;
    color: #ffffff;
    position: absolute;
}
.article5{
    padding-bottom: 40px;
    padding-top: 40px;
    border-top: 3px blueviolet  solid;
    border-bottom: 3px blueviolet  solid;
}

/* a propos,  formulaire de contact */
.formulaireContact{
    padding-bottom: 200px;
}
.formulaireContact h2{
    text-align: center;
    font-size:3rem;
}
.formulaireContact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}
.coordonnees{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    border: 3px #8a2be2 solid;
    padding-top: 50px;
    padding-bottom: 50px;
}
.message{
    text-align: center;
    width: 75%;
    border: 3px #8a2be2 solid;
    padding-top: 50px;
    padding-bottom: 50px;
}
legend{
    font-size: 1.8rem;
    margin: auto;
}
/* Saveurs */
.conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 5%;
    column-gap: 2%;
}
.texteNosSaveurs h1{
    margin-bottom: 6%;
}
.conteneur article{
    display: grid;
    place-items: center;
    height:  100%;
    border-radius: 50px;
}
.conteneur img{
    width: auto;
    height: 100%;
}
.saveursTitre{
    box-shadow: -5px 5px 3px #333;
    border-radius:  30px 30px 30px 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    position: relative;
}
.saveursTitre:hover{
    transition: 0.5s;
    box-shadow: -5px 5px 3px #333;
    border-radius:  30px 30px 30px 30px;
    transform: scale(1.1);
}
.saveursDescription{
    opacity: 0;
    background: radial-gradient(circle,black 35%, rgba(0,0,0,0), transparent);display: inline-block;
    color: white;
    width: 35%;
    height: auto;
    position: absolute;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 7%;
    padding-bottom: 7%;
}
.saveursTitre:hover ~ .saveursDescription{
    opacity: 1;
    transition: 0.5s;
}

/* sondage */

.sondage{
    border-top: 3px #8a2be2 solid;
    padding-top: 5%;
    margin-top: 5%;
    margin-bottom:10%
}
.sondage h2{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1%;
}
.sondage p{
    text-align: center;
}
.sondage form{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-left: 20%;
    width: 50%;
    height: auto;
}
.sondageEtResultats{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: auto;
}


/* footer*/

/*Plan Du Site*/
footer{
    padding:10px;
    border-top: 2px solid #8a2be2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.planDuSite{
    display: flex;
    flex-direction: row;

}
.planDuSite a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
.planDuSite li{
    list-style: none;
    display: inline-block;
    width: auto;
    padding:0px 30px;
}
.planDuSite a:hover{
    color: blueviolet;
    transition: 0.2s;
    box-shadow: -5px 5px 3px #333;
    border-radius:  0px 0px 5px 5px;
}
footer h2{
    display: inline-block;
    margin-left:390px;
}

/*lien réseaux*/
.logoreseaux{
    width:30px;
    height: auto;
    margin-left: 10px;
}
.logoreseaux:hover{
    border-radius: 6px;
    transition: 0.2s;
    box-shadow: -5px 5px 3px #333;
}
.liensReseaux li{
    list-style: none;
    display: inline-block;
    width: auto;
    padding:0px 30px;
    
}
.liensReseaux{
    margin-left: 400px;
}