/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
strong{
    font-weight: bold;
}
em{
    font-style: normal;
}

body{
    font-family: "Noto Sans";
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2;
    color: #333;
}
a{
    color: #333;
}
a:visited{
    color:#333;
}
li{
    list-style: none;
}


/*accueil +a propos*/
.zenyth6Canettes{
    position: relative;
}
.slogan{
    font-size: 2rem;
    position: absolute;
    top: 1000px;
    left: 600px;
    text-align: center;
    color: white;
}

.textePrincipal{
    padding-top:3%;
    padding-left:3%;
    padding-right:3%;
    padding-bottom:5%;
}
.textePrincipal article{
    margin-top:3%;
    padding-left: 1%;
    text-align: justify;
    border-radius: 20px 0px 20px 20px;
    box-shadow: -5px 5px 4px #333;
}
.textePrincipal h2{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1%;
}
 /*A propos*/
.texteAPropos{
    padding-top:3%;
    padding-left:3%;
    padding-right:3%;
    padding-bottom:5%;
    text-align: justify;
}

.texteAPropos h1{
    font-size: 2.5rem;
    text-align: center;
}
.texteAPropos h2{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1%;
}
/* Nos saveurs */
.texteNosSaveurs{
    padding-top:3%;
    padding-left:3%;
    padding-right:3%;
    padding-bottom:20%;
    text-align: justify;
}
.texteNosSaveurs h1{
    font-size: 3rem;
    text-align: center;
}

.texteNosSaveurs h2{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1%;
}